
:root {
--primary-text-color: #757575;
--color-title: #212121;
--accent: #2196F3;
--white:#FFFFFF;
--logo-black:  #000000;
--address-colol:rgba(255, 255, 255, 0.6);
--background-color-secondary: #F5F4FA;
--background-color-dark:  #2F303A;
--button-bg:#188CE8;
--border-header: #ECECEC;
--border-project: #EEEEEE;
}

/* Body */
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--white);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;

outline: 2px solid blue;

    
}


/* Header */
.page-header {
border-bottom: 1px solid var(--border-header);
}

/* Logo */
.list,
.feature-item,
.feature-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo {
    color: var(--logo-black);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-accent {
    color:var(--accent) ;
}

/* Navigation */
/* Main-nav */

.main-nav {
    display: flex;
    align-items: center;
}

/* Site-nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

/* .site-nav .item {
    outline: 1px solid magenta;
} */

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--color-title);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link.current {
    color: var(--accent);
}

.site-nav .link:hover,
.site-nav .link:focus,
.list .address:hover,
.list .address:focus {
    color: var(--accent);
}

/* Auth-nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 40px;
}

/* .auth-nav .item {
    outline: 1px solid olive;
} */

.auth-nav .link {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color:var(--accent);
}

.link {
    text-decoration: none;
}

/* Hero */
.hero {
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-color-dark);
    text-align: center;
    width: 1200px;
    

    outline: 2px solid gold;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    /* display: flex; */
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 200px;
    padding: 10px 24px;

    color:var(--white);
    background-color:var(--accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
}

/* display: inline-block;
    color: var(--color-title);
    background-color: var(--background-color-secondary);
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    min-width: 67px;
    text-align: center; */

.button:focus,
.button:hover{
    color: var(--color-title);
    background-color: var(--background-color-secondary);
    cursor: pointer;
    font-family: inherit;
    border:1px solid  var(--button-bg)
}

/* Main */
/* Section Переваги */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .section {
    padding-bottom: 94px;
    padding-top: 94px;
    outline: 2px solid red;
  }

.container.feature {
    /* display: flex;
    flex-wrap: wrap; */

    background-color: teal;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-item {
    width:calc((100%-90px)/4);
    margin-right: 30px;
    /* width: 270px; */
    background-color: tomato;
}

.feature-item:nth-child(4n) {
    margin-right: 0;
}
.section-title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

/* Чим ми займаємось */

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Section Наша команда */

.section.team {
    background-color: var(--background-color-secondary);
}

.list.team {
    background-color: var(--white);
}

.name {
    color: var(--color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-top: 0;
}

.profession {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 0 70px 30px 70px;
    margin: 0;
}

/* Footer */

.footer {
    background-color: var(--background-color-dark);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo-foot {
    color:var(--white);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-top: 60px;
}

.footer {
    background-color:var(--background-color-dark);
}
.address {
    color: var(--address-colol);
}

address {
    font-style: normal;
}
.sity-adr {
    color: var(--white);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.list .address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

   /* Portfolio */

   .button-filter {
    display: inline-block;
    color: var(--color-title);
    background-color: var(--background-color-secondary);
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    min-width: 67px;
    text-align: center;
}

.button-filter:hover,
.button-filter:focus {
    color: var(--white);
    background-color: var(--accent);
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: inherit;
}

.name-project {
    color: var(--color-title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.type-project {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.project {
    border-bottom: 1px solid var(--border-project);
}

.images {
    margin-bottom: 30px;
}